@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adota Pet</h1>
    <p>
        Clique <a asp-controller="Anuncios" asp-action="Index">aqui</a> para seguir para a seção de anúncios.
    </p>
</div>
