@using AdotaPet.Controllers
@model AdotaPet.ViewModels.UsuarioPessoaViewModel
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Usuário</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <input type="hidden" asp-for="Pessoa.Id" />
            <input type="hidden" asp-for="Pessoa.UsuarioId" />
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Telefone" class="control-label"></label>
                <input asp-for="Pessoa.Telefone" class="form-control" />
                <span asp-validation-for="Pessoa.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Senha" class="control-label"></label>
                <input asp-for="Usuario.Senha" class="form-control" />
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Usuario.Perfil" class="control-label"></label>
                <select asp-for="Usuario.Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                <span asp-validation-for="Usuario.Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-warning mt-3" />
                <a asp-action="Index" class="btn btn-outline-secondary mt-3">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
